VITE_API_URL=https://localhost:3000
VITE_BTT_API_URL=https://localhost:3000/bbt-proxy
VITE_PC_HWINFO_API_URL=http://192.168.1.126:8085/data.json
VITE_MB_API_URL=https://musicbrainz.org/ws/2
VITE_COVERART_API_URL=https://coverartarchive.org
VITE_WEATHER_LAT=
VITE_WEATHER_LON=
VITE_WEATHER_CITY=
VITE_CAM_STERAMING_URL=